### BEGINN EDIT ###

# If your hashrate is less than MIN_HASH, your miner will restart automatically
MIN_HASH="";


# IF your wattage is less than LOW_WATT, your miner will restart automatically
LOW_WATT="";


# Telegram Gateway Service
TOKEN="";
CHAT_ID="";


# Pushover.net Gateway Service
APP_TOKEN="";
USER_KEY="";

# Cron has diff env, some paths aren't found. adjust
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/opt/ethos/bin:/opt/ethos/sbin
### END EDIT ###